/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#character-menu {
  display: flex;
  flex-direction: row;
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 1200px;
  gap: 20px;
}

#character-display {
  flex: 1;
  background-color: #222;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

#character-display div {
  color: #ccc;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
}

#character-items-and-stats {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #333;
  border-radius: 10px;
  padding: 15px;
}

#character-items-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
}

#character-items-grid div {
  background-color: #555;
  border: 1px solid #666;
  border-radius: 5px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #999;
}

#character-stats {
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
}

.charcater-stat-bar {
  margin-bottom: 10px;
  color: #ccc;
  font-size: 14px;
}

.character-stat {
  margin-bottom: 15px;
  color: #ccc;
}

.character-stat span:first-child {
  display: block;
  margin-bottom: 10px;
}

.character-stat span:last-child {
  display: block;
  margin-top: 10px;
}

.progress-bar {
  background-color: #555;
  border-radius: 5px;
  height: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.progress-fill {
  background-color: #4caf50;
  height: 100%;
  transition: width 0.3s ease;
}

.progress-label {
  font-size: 12px;
  color: #999;
  display: block;
  margin-top: 5px;
  text-align: right;
}

.item-slot {
  background-color: #444;
  border: 1px solid #666;
  border-radius: 5px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.item-slot img {
  max-width: 90%;
  max-height: 90%;
}

.item-slot:hover {
  border-color: #ffc107;
  background-color: #555;
}

#character-name-and-hp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  color: #fff;
}

#character-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.health-bar {
  width: 100%;
  background-color: #555;
  border-radius: 5px;
  height: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}

.health-fill {
  background-color: #e53935;
  height: 100%;
  transition: width 0.3s ease;
}

.health-label {
  font-size: 12px;
  color: #ccc;
  align-self: flex-end;
}
