/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #331701;
  background: rgba(0, 0, 0, 0.5)
    url("http://localhost/dungeons_and_dragons/assets/images/file-selection-background.jpg")
    no-repeat center center fixed;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: linear-gradient(145deg, #3b1101, #5c2121);
  border-radius: 15px;
  padding: 30px 40px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 100%;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

.role-options {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.role-options label {
  cursor: pointer;
  padding: 10px;
  border: 2px solid transparent;
}

.role-options input[type="radio"] {
  display: none;
}

/* Highlight the selected character */
.role-options label.selected {
  border: 2px solid #ffd700; /* Gold border */
  background-color: rgba(255, 223, 0, 0.2); /* Light gold background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 223, 0, 0.5);
  cursor: pointer;
}

/* Add a hover effect to labels */
.role-options label:hover {
  cursor: pointer;
  opacity: 0.8;
}

.class_image {
  text-align: center;
  width: 100%;
}

button {
  background-color: #ff8c42;
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #e37636;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}

.gap-1 {
  gap: 10px;
}

.character_class_name {
  font-size: 16px;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
