* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
}

button {
  padding: 10px 20px;
}

.text-white {
  color: white;
}

.underline {
  text-decoration: underline;
}

.w-full {
  width: 100%;
}

.text-sm {
  font-size: 14px;
}

.mb-1 {
  margin-bottom: 10px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.block {
  display: block;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
