* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
}

button {
  padding: 10px 20px;
}

.text-white {
  color: white;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.w-full {
  width: 100%;
}

.text-sm {
  font-size: 14px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.block {
  display: block;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.audio-controls {
  padding: 10px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  background: rgba(248, 118, 32, 0.832);
  display: flex;
  align-items: center;
  gap: 10px;
}

.audio_button {
  border-radius: 5px;
  transition: 0.3s ease-in-out all;
}

.audio_button:hover {
  cursor: pointer;
  background-color: #e34902;
  padding: 5px;
}
